@use './main.scss';

.hide-nav-onscroll {
  position: absolute;
  top: inherit;
  left: calc((50vw - 20vmax));

  margin: auto;
  div.frame {
    display: bl;
    border: 1px solid;
    position: absolute;
    overflow: scroll;
    width: 40vmax;
    height: 40vh;
  }

  div.topNav.show {
    position: fixed;
    top: inherit;
    width: 40vmax;
    border: 1px solid;
    padding: 0.5em;
    background-color: var(--primary);
  }
}
