@use './main.scss';

div.home {
  div > h3 {
    width: 100vw;
    background-color: var(--primary);
  }
  ul {
    padding: 1em;
    text-align: left;
    list-style-type: disc;
  }

  p {
    color: blue;
  }
}
