@use './main.scss';

.side-nav {
  ul.initial {
    position: fixed;
    top: inherit;
    left: -10em;
    background-color: transparent;
    color: var(--mono);
    overflow: scroll;
    height: 100vh;
    width: 10em;
    transition: left 1s;
  }

  ul.trigger {
    top: 0;
    left: 0;
    background-color: transparent;
    color: var(--mono);
    overflow: scroll;
    height: 100vh;
    width: 10em;
    transition: left 1s;
  }

  button.click {
    text-align: center;
    border-radius: 2em;
    width: fit-content;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    padding: 0.5em;
  }

  .list {
    li {
      text-align: left;
      padding: 0.7em 0 0.7em 0;
      :hover {
        background-color: var(--mono-lighten-2);
        width: 100%;
        background-color: var(--mono-lighten-3);
      }
      button {
        background-color: white;
      }
    }
  }
}
